@import "../varible";



a {
  text-decoration: none;

  &:link {
    color: $text-link-normal-color;
  }

  &:visited {
    color: $text-link-visited-color;
  }

  &:hover {
    color: $text-link-hover-color;
  }

  &:active {
    color: $text-link-active-color;
  }
}
