.progress {
  position: fixed;
  height: 2px;
  background: #2abb6f;
  top: 0;
  left: 0;
  width: 0;
  z-index: 3;
  transition: all linear 100ms; }

.body {
  display: -webkit-flex;
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  max-width: 1200px;
  margin: 0 auto; }
  @media (max-width: 750px) {
    .body {
      flex-wrap: wrap;
      padding-top: 60px; } }
  .body-sidebar {
    min-width: 300px;
    width: 300px; }
    @media (max-width: 750px) {
      .body-sidebar {
        width: 100%; } }
  .body-main {
    flex-grow: 1;
    width: calc(100% - 300px); }
    @media (max-width: 750px) {
      .body-main {
        width: 100%; } }

.sidebar {
  position: relative;
  border-right: 1px solid #eee;
  height: 100%; }
  .sidebar-toggle {
    display: none;
    position: fixed;
    right: 0;
    top: 10px;
    z-index: 3; }
    .sidebar-toggle:hover {
      border-bottom: 0; }
    .sidebar-toggle:active i {
      background: #aaa; }
    .sidebar-toggle i {
      display: block;
      margin: 9px 4.5px;
      background: #ddd;
      width: 40px;
      height: 2px;
      right: 0; }
  @media (max-width: 750px) {
    .sidebar {
      border-right: 0; }
      .sidebar .title {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2; }
        .sidebar .title a {
          margin-right: 100px; }
      .sidebar-nav {
        position: fixed;
        z-index: 99;
        top: 0;
        bottom: 0;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        box-shadow: none;
        transform: translateX(-100%); }
      .sidebar-toggle {
        display: block; } }

.title {
  line-height: 100px;
  color: #333;
  font-size: 30px;
  text-align: center;
  border-bottom: 1px solid #eee;
  font-weight: normal;
  background: rgba(255, 255, 255, 0.8); }
  .title a {
    display: block;
    height: 100%;
    color: #d45959; }
  @media (max-width: 750px) {
    .title {
      line-height: 60px;
      font-size: 26px; } }

.nav {
  background: #fff; }
  .nav a {
    display: block;
    padding: 0 16px;
    line-height: 40px; }
  .nav li a[href="#"] {
    color: #333;
    cursor: default;
    pointer-events: none;
    font-weight: 900; }
  .nav li li a[href="#"] {
    color: #ccc;
    pointer-events: none;
    font-weight: normal; }
  .nav > ul > li {
    margin-bottom: 2em; }
  .nav li ul {
    margin-left: 2em; }
  .nav li.active > a {
    background: #0e90d2;
    color: #fff; }

.container {
  padding: 30px 49px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 750px) {
    .container {
      padding: 15px; } }

.avatar {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em; }

.hero {
  padding: 2em 0; }
  .hero img {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 100%;
    border-radius: 100%; }
  .hero h1 {
    font-size: 8em; }
    @media (max-width: 750px) {
      .hero h1 {
        font-size: 4em; } }
  .hero h2 {
    font-size: 2em; }
    @media (max-width: 750px) {
      .hero h2 {
        font-size: 1.4em; } }
