@import "../varible";

$title-large-height: 100px;
$title-large-font: 30px;
$title-small-height: 40px;
$title-small-font: 20px;
$border-color: #eee;
$small-screen-width: 750px;

.progress {
  position: fixed;
  height: 2px;
  background: $text-success-color;
  top: 0;
  left: 0;
  width: 0;
  z-index: 3;
}

.body {
  $sidebar-width: 300px;
  display: -webkit-flex;
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;

  @media (max-width: $small-screen-width) {
    flex-wrap: wrap;
  }

  &-sidebar {
    min-width: $sidebar-width;
    width: $sidebar-width;

    @media (max-width: $small-screen-width) {
      width: 100%;
    }
  }

  &-main {
    flex-grow: 1;
    width: calc(100% - #{$sidebar-width});

    @media (max-width: $small-screen-width) {
      width: 100%;
    }
  }
}

.sidebar {
  border-right: 1px solid $border-color;
  height: 100%;

  @media (max-width: $small-screen-width) {
    border-right: 0;
  }
}

.title {
  line-height: $title-large-height;
  color: $text-normal-color;
  font-size: $title-large-font;
  text-align: center;
  border-bottom: 1px solid $border-color;
  font-weight: normal;

  a {
    color: $text-primary-color;
  }

  @media (max-width: $small-screen-width) {
    line-height: $title-small-height;
    font-size: $title-small-font;
  }
}

.nav {
  a {
    display: block;
    padding: 0 16px;
    line-height: $title-small-height;
  }

  li a[href="#"] {
    color: $text-normal-color;
    cursor: default;
    pointer-events: none;
    font-weight: 900;
  }

  li li a[href="#"] {
    color: #ccc;
    pointer-events: none;
    font-weight: normal;
  }

  & > ul > li {
    margin-bottom: 2em;
  }

  li {
    ul {
      margin-left: 2em;
    }

    &.active {
      & > a {
        background: #0e90d2;
        color: #fff;
      }
    }
  }
}

.content {
  padding: 0 30px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $small-screen-width) {
    padding: 15px;
  }
}

.hero {
  text-align: center;
  margin-bottom: 60px;

  img {
    display: inline-block;
  }

  &-logo {

  }

  &-title {
    font-size: 60px;
    font-weight: normal;
  }

  &-desc {
    font-size: 20px;
    font-weight: normal;
  }
}