@import "../varible";

$title-large-height: 100px;
$title-large-font: 30px;
$title-small-height: 60px;
$title-small-font: 26px;
$nav-line-height: 40px;
$border-color: #eee;
$small-screen-width: 750px;

.progress {
  position: fixed;
  height: 2px;
  background: $text-success-color;
  top: 0;
  left: 0;
  width: 0;
  z-index: 3;
}

.body {
  $sidebar-width: 300px;
  display: -webkit-flex;
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: $small-screen-width) {
    flex-wrap: wrap;
    padding-top: $title-small-height;
  }

  &-sidebar {
    min-width: $sidebar-width;
    width: $sidebar-width;

    @media (max-width: $small-screen-width) {
      width: 100%;
    }
  }

  &-main {
    flex-grow: 1;
    width: calc(100% - #{$sidebar-width});

    @media (max-width: $small-screen-width) {
      width: 100%;
    }
  }
}

.sidebar {
  position: relative;
  border-right: 1px solid $border-color;
  height: 100%;

  @media (max-width: $small-screen-width) {
    border-right: 0;

    .title {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;

      a {
        margin-right: 100px;
      }
    }

    &-nav {
      position: fixed;
      z-index: 99;
      top: 0;
      bottom: 0;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      box-shadow: none;
      transform: translateX(-100%);
    }
  }

  &-toggle {
    $border-size: 2px;
    $space-size: 9px;
    position: fixed;
    right: 0;
    top: 10px;
    z-index: 3;

    &:hover {
      border-bottom: 0;
    }

    &:active {
      i {
        background: #aaa;
      }
    }

    i {
      display: block;
      margin: $space-size $space-size/2;
      background: #ddd;
      width: 40px;
      height: $border-size;
      right: 0;
    }
  }
}

.title {
  line-height: $title-large-height;
  color: $text-normal-color;
  font-size: $title-large-font;
  text-align: center;
  border-bottom: 1px solid $border-color;
  font-weight: normal;
  background: rgba(255, 255, 255, 0.8);

  a {
    display: block;
    height: 100%;
    color: $text-primary-color;

    &:hover {
      border-bottom: 0;
    }
  }

  @media (max-width: $small-screen-width) {
    line-height: $title-small-height;
    font-size: $title-small-font;
  }
}

.nav {
  background: #fff;

  a {
    display: block;
    padding: 0 16px;
    line-height: $nav-line-height;
  }

  li a[href="#"] {
    color: $text-normal-color;
    cursor: default;
    pointer-events: none;
    font-weight: 900;
  }

  li li a[href="#"] {
    color: #ccc;
    pointer-events: none;
    font-weight: normal;
  }

  & > ul > li {
    margin-bottom: 2em;
  }

  li {
    ul {
      margin-left: 2em;
    }

    &.active {
      & > a {
        background: #0e90d2;
        color: #fff;
      }
    }
  }
}

.content {
  padding: 30px 49px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $small-screen-width) {
    padding: 15px;
  }
}

.avatar {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;
}

.hero {
  padding: 2em 0;

  img {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
  }

  h1 {
    font-size: 8em;

    @media (max-width: $small-screen-width) {
      font-size: 4em;
    }
  }

  h2 {
    font-size: 2em;

    @media (max-width: $small-screen-width) {
      font-size: 1.4em;
    }
  }
}

