.toc {
  &-1 {
    display: inline-block;
    padding: 16px 10px;
    border: 1px solid #eee;
  }

  &-index {
    margin-right: 10px;
    color: #ccc;
  }

  @media (max-width: 650px) {
    display: none;
  }

  li {
    list-style: none;
    bottom: 0;
    margin-left: 1em;
    margin-bottom: 0.6em;

    ul {
      margin-top: 0.6em;
    }
  }

  li > a:link,
  li > a:visited {
    color: #5b5b5b;
  }
}