.toc {
  background: #fff;
  min-width: 200px;
  max-height: 500px;
  overflow: auto;
  position: fixed;
  top: 10px;
  right: 10px;
  border: 1px solid #E8E8E8;
  z-index: 1;
  font-size: 14px; }
  .toc-index {
    margin-right: 10px;
    color: #bbb; }
  .toc + h1,
  .toc + h2 {
    margin-top: 0; }
  @media (max-width: 650px) {
    .toc {
      display: none; } }
  .toc ul li {
    list-style: none;
    bottom: 0; }
  .toc > ul {
    padding: 20px; }
  .toc li,
  .toc ul {
    margin: 0; }
  .toc li > a:link,
  .toc li > a:visited {
    color: #5b5b5b; }
